.sscontainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.sssection {
  display: flex;
  align-items: flex-start;
  /*gap: 20px;*/
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.1);*/
  transition: transform 0.2s ease;
}

.sssection:hover {
  transform: translateY(-3px);
}

.ssimage {
  flex: 1;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ssimage img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.sscontent {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: -webkit-fill-available;
}

.ssnumber {
  background-color: #0098ff;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.sscontent h2 {
    color: #020202;
    font-size: 24px;
    font-weight: 600;
}

.sscontent p {
  font-size: 15px;
  text-align: justify;
}



/* Responsive Design */
@media (max-width: 768px) {
  .sssection {
    flex-direction: column;
    text-align: center;
  }
  .ssimage
  {
    justify-content: center;
    width: 100%;
  }

  .ssimage img {
    /*max-width: 000;*/
  }

  .sscontent {
    align-items: center;
  }

  .sscontent h2 {
    font-size: 18px;
  }

  .sscontent p {
    font-size: 14px;
  }
}
